@media (min-width: 576px) {
  .home-page-main-container {
    padding-top: 70px;
    background: #fcf6f5;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  .home-page-bg {
    width: 100%;
    background-image: url(../img/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
  .home-page-content {
    width: 40vw;
    background: white;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
  }
  .main-page-content-panel {
    width: 20vw;
    height: 20vw;
  }
  .text-panel {
    background: #000;
  }
  .image-panel {
    background: #0f0;
  }
}
