/*////////////////////////////*/
/*
widths

small: 575.98
medium:576-991.98
large:992-1200
*/
/*////////////////////////////*/

.main-container-header {
  background: #901;
  color: #f5f5dc;
  position: fixed;
  top: 0;
}

.main-container-routes-wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

@media (min-width: 576px) {
  .cwel {
    background: #000;
  }

  .main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .main-container-header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-container-header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: calc(1.618 * 1em);
    gap: 20px;
  }

  .nav-bar-element {
    position: relative;
  }

  .nav-bar-element::after {
    content: "";
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 1.5px;
    background-color: #f5f5dc;
    transition: width 0.25s ease-in-out;
  }

  .nav-bar-element:hover::after {
    width: 100%;
  }

  /*
  
  
  
  
  
  
  
  
  
  
  
  */
}
@media (max-width: 575.98px) {
  body {
    background: #0f0;
  }
}
